@import url('https://fonts.cdnfonts.com/css/poppins');

@font-face {
  font-family:"cera-bold" ;
  src:  url('../assets/fonts/Cera-Bold.otf');
  font-display: swap; 
}

@font-face {
  font-family:"cera-medium" ;
  src:  url('../assets/fonts/Cera-Medium.otf');
  font-display: swap; 
}


@font-face {
  font-family:"cera-light" ;
  src:  url('../assets/fonts/Cera-Light.otf');
  font-display: swap; 
}
